<div class="container" id="reviewHeader">
  <div class="col-sm-12 bigstars rateit rateit-bg" data-rateit-value="<%= @bathroom.reviews.average(:rating) %>" 
    data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-starheight="32" data-rateit-starwidth="32">
  </div>
  <div class="row center-block">
    <div class="col-sm-6">Avg rating: <%= @bathroom.reviews.average(:rating) %></div>
    <div class="col-sm-6 text-right"><%= @bathroom.title %></div>
                <% if logged_in? %>
                <% if current_user.admin?%>
                    <%= link_to "delete", @bathroom, method: :delete,
                                              data: { confirm: "You sure?" } %>
                    <%= link_to "edit", edit_bathroom_path(@bathroom) %>
                <% end %>
            <% end %>
  </div>
</div>
<div class="container" id="imageContainer">
  <%= image_tag @bathroom.picture.url, :class => "img-rounded center-block img-responsive", 
    :alt => "bathroom", :width => "460", :height => "345" %>
</div>
<div class="container" id="formContainer">
  <div class="row" >
    <div class="col-md-10 col-md-offset-1">
      <% if logged_in? %>
          <%= form_for(@review, :html => {:class => "form-horizontal", 
            :novalidate => "novalidate" }) do |f| %>
          <%= render 'shared/review_error_messages' %>
          <%= hidden_field_tag :bathroom_id, @bathroom.id %>
          <div class="form-group">
            <label for="your_rating" class="col-sm-2 control-label">Your Rating:</label><br>
            <div class="col-sm-10">
              <%= f.range_field :rating, :min=>0, :max=>5, :step=>"0.5", :id=>"backing5"%>
            </div>
            <div class="rateit bigstars rateit-bg" data-rateit-backingfld="#backing5" data-rateit-resetable="false"  data-rateit-ispreset="true"
              data-rateit-min="0" data-rateit-max="5" data-rateit-starheight="32" data-rateit-starwidth="32">
            </div>
          </div>
          <div class="form-group">
            <%= f.label :title, :class =>"col-sm-2 control-label"%>
            <div class="col-sm-10">
              <%= f.text_field :title , :class => "form-control", :cols => "40",
                :rows => "5", :placeholder =>"Enter title ..." %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :review, :class =>"col-sm-2 control-label"%>
            <div class="col-sm-10">
              <%= f.text_area :content , :class => "form-control", :cols => "40",
                :rows => "5", :placeholder =>"Write a review ..." %>
            </div>
          </div>
          <div class="form-group">
            <label for="submit_button" class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
              <%= f.submit "Submit Review", class: "btn btn-primary" %>
            </div>
          </div>
          <% end %>
      <% else %>
          <%= form_for(@review, :html => {:class => "form-horizontal", 
            :novalidate => "novalidate"}) do |f| %>
            <fieldset disabled>
              <%= hidden_field_tag :bathroom_id, @bathroom.id %>
              <div class="form-group">
                <label for="your_rating" class="col-sm-2 control-label">Your Rating:</label><br>
                <div class="col-sm-10">
                  <%= f.range_field :rating, :min=>0, :max=>5, :step=>"0.5", :id=>"backing5"%>
                </div>
                <div class="rateit bigstars rateit-bg" data-rateit-backingfld="#backing5" data-rateit-resetable="false"  data-rateit-ispreset="true"
                  data-rateit-min="0" data-rateit-max="5" data-rateit-readonly="true" data-rateit-starheight="32" data-rateit-starwidth="32">
                </div>
              </div>
              <div class="form-group">
                <%= f.label :title, :class =>"col-sm-2 control-label"%>
                <div class="col-sm-10">
                  <%= f.text_field :title , :class => "form-control", :cols => "40",
                    :rows => "5", :placeholder =>"Please Log In to Write a review!" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :review, :class =>"col-sm-2 control-label"%>
                <div class="col-sm-10">
                  <%= f.text_area :content , :class => "form-control", :cols => "40",
                    :rows => "5", :placeholder =>"Please Log In to Write a review!" %>
                </div>
              </div>
              <div class="form-group">
                <label for="submit_button" class="col-sm-4 control-label"></label>
                <div class="col-sm-4">
                  <%= f.submit "Submit Review", class: "btn btn-primary" %>
                </div>
              </div>
          </fieldset>
          <% end %>

      <% end %>
    </div>
  </div>
</div>
<div class="container" id="reviewsContainer">
  <% if @bathroom.reviews.any? %>
  <%= render @reviews %>
  <%= will_paginate @reviews %>
  <% end %>
</div>