<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a><%= link_to "UML Bathroom Finder", root_path , class: "navbar-brand"%></a>
      <form class="navbar-form navbar-right">
        <select id="selectpicker2" class="selectpicker" title="Building" id="building" name="building" data-container="body" data-width="100px">
          <optgroup label="North Campus">
            <option class="north" value="Ball">Ball Hall</option>
            <option class="north" value="Olsen">Olsen Hall</option>
            <option class="north" value="Olney">Olney Hall</option>
          </optgroup>
          <optgroup label="South Campus">
            <option class="south" value="Durgin">Durgin Hall</option>
            <option class="south" value="Health">Health and Social Sciences Building</option>
            <option class="south" value="Dugan">Dugan Hall</option>
          </optgroup>
        </select>
        <select id="selectpicker3" class="selectpicker" title="Floor" id="floor" name="floor" data-container="body" data-width="100px">
          <option value="1F">1F</option>
          <option value="2F">2F</option>
          <option value="3F">3F</option>
          <option value="4F">4F</option>
          <option value="5F">5F</option>
          <option value="6F">6F</option>
        </select>
        <%= link_to "Go To Building/Floor", floor_path , class: "btn btn-success"%>
        <button type="button" class="btn btn-success" onclick="getLocation()">
        Locate My Building (GPS)
        </button> 
      </form>
    </div>
    <!--<div id="navbar" class="navbar-collapse">-->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>