
<div class="navbar-form navbar-right">
  <select id="selectpicker2" class="selectpicker" title="Building" name="building" data-container="body" data-width="100px">
    <optgroup label="North Campus">
  		<% Floor.where(campus: "North").uniq.pluck(:building).each do |building| %>
				<option class="North" value="<%= building.downcase.capitalize.delete(?').tr ' ', ?_ %>"><%= building %></option>
  		<% end %>
    </optgroup>
    <optgroup label="South Campus">
  		<% Floor.where(campus: "South").uniq.pluck(:building).each do |building| %>
				<option class="South" value="<%= building.downcase.capitalize.delete(?').tr ' ', ?_ %>"><%= building %></option>
  		<% end %>
    </optgroup>
  </select>
  <select id="selectpicker3"class="selectpicker" title="Floor" name="floor" data-container="body" data-width="100px">
  		<% Floor.all.each do |floor| %>
				<option class="<%= floor.building %>" value="<%= floor.title %>"><%= "#{floor.floor_level}" + "F"%></option>
  		<% end %>
  </select>
  <%= link_to "Go To Building/Floor", "#" , class: "btn btn-success"%>
  <button type="button" class="btn btn-success" onclick="getLocation()">
  Locate My Building (GPS)
  </button> 
</div>

<script>
  $("#floor").chained("#building")
  $('img[usemap]').rwdImageMaps();
</script>